@font-face {
    font-family: "MyriadPro-Light";
    src: url("../fonts/MyriadPro-Light.otf");
}

body {
    font-family: MyriadPro-Light !important;
    color: white;
}

html, body {
    max-width: 100%;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: -1;
}

#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.ui.basic.compact.segment {
    margin: 50px 0px 0px 50px;
    z-index: 100; position: absolute; color: white;
    height: auto;
}

.ui.basic.compact.right.floated.segment {
    margin: 50px 50px 0px 0px;
    z-index: 100; position: absolute; color: white;
    top: 0;
    right: 0;
    height: auto;
}

.ui.basic.compact.segment .first {
    border-right: 1px solid white;
}


.eight.wide.column {
    color: white;

}

#banner .ui.grid {
    height: 100vh;
}

.first.column {
    border-right: 1px solid white;
}

.first.column > img {
    width: 80%;
    height: inherit;
}

.second.column > img {
    width: 60%;
    height: inherit;
}